<div class="container">
    <form (ngSubmit)="onFormSubmit(contactForm)" #contactForm="ngForm">
        <h1>Contact Us Form</h1>
        <div class="field">
            <label for="">Name</label>
            <input type="text" placeholder="Full Name">
        </div>
        <div class="field">
            <label for="">Email</label>
            <input type="email" placeholder="Email">
        </div>
        <div class="field">
            <label for="">Message</label>
            <input type="text" placeholder="Tell Your Message">
        </div>
        <input type="submit">
    </form>
</div>