<div class="container">
    <form (ngSubmit)="onFormSubmit()" #contactForm="ngForm">
        <h1>Contact Us Form</h1>
        <div class="field">
            <label for="">Name</label>
            <input name="fullname" type="text" ngModel placeholder="Full Name">
        </div>
        <div class="field">
            <label for="">Email</label>
            <input name="email" type="email" ngModel placeholder="Email">
        </div>
        <div class="field">
            <label for="">Message</label>
            <input name="message" type="text" ngModel placeholder="Tell Your Message">
        </div>
        <input type="submit">
    </form>
</div>